CHANNEL_ACCESS_TOKEN=
CHANNEL_SECRET=
HOST=
DATABASE=
USER=
PASSWORD=
DB_PORT=

API_GROUP_SUMMARY=https://api.line.me/v2/bot/group/{groupId}/summary
API_USER_PROFILE=https://api.line.me/v2/bot/profile/{userId}
API_GROUP_MEMBERS_IDS=https://api.line.me/v2/bot/group/{groupId}/members/ids

# 中央氣象署授權碼
CWA_WEATHER_API_KEY=

# 高雄天氣預報-未來三天
API_URL_CWA_KH_WEATHER=https://opendata.cwa.gov.tw/api/v1/rest/datastore/F-D0047-065

# 降雨雷達-林園雷達回波圖
API_URL_CWA_KH_RADAR =https://opendata.cwa.gov.tw/fileapi/v1/opendataapi/O-A0058-004?Authorization={api_key}&downloadType=WEB&format=JSON

#google search API
GOOGLE_SEARCH_API_KEY=

#google search API-search engine ID
GOOGLE_SEARCH_ENGINE_ID=

#google search API url
GOOGLE_SEARCH_API_URL = https://www.googleapis.com/customsearch/v1?key={apiKey}&cx={searchEngineId}&q={keyword}&searchType=image