CHANNEL_ACCESS_TOKEN=
CHANNEL_SECRET=
HOST=
DATABASE=
USER=
PASSWORD=
DB_PORT=

API_GROUP_SUMMARY=https://api.line.me/v2/bot/group/{groupId}/summary
API_USER_PROFILE=https://api.line.me/v2/bot/profile/{userId}
API_GROUP_MEMBERS_IDS=https://api.line.me/v2/bot/group/{groupId}/members/ids